@media (max-width:1800px) {
    .head_left > li > a {
        font-size: 16px;
        gap: 10px;
    }
    .upper_middle > h1 {
        transform: translateX(30px);
    }
} 
@media (max-width:1600px) {
    .head_left > li > a {
        font-size: 14px;
    }
    .upper_middle > h1 {
        transform: translateX(50px);
    }
} 
@media (max-width:1400px) {
    .head_left > li > a {
        font-size: 12px;
    }
    .upper_middle > h1 {
        transform: translateX(100px);
    }
} 

@media (max-width:1000px) {
    .head_left > li > a {
        font-size: 10px;
    }
    .head_box {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .upper_middle {
        margin: 0;
        padding: 0;
    }
} 